./TradingMind/eval_results/.*
/quant-trading/scripts/__pycache__
/quant-trading/scripts/strategies/__pycache__
/quant-trading/scripts/data/__pycache__
/alpha-forge/scripts/__pycache__
/alpha-forge/scripts/data/__pycache__
/alpha-forge/scripts/strategies/__pycache__
/alpha-forge/tests/__pycache__
/alpha-forge/tests/.pytest_cache
/模板
